
@import url("https://fonts.googleapis.com/css?family=Lato:300");


.gradient-border {
  --border-width: 1px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Lato, sans-serif;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      /*hsl(224, 85%, 66%),*/
      /*hsl(269, 85%, 66%),*/
      /*hsl(314, 85%, 66%),*/
      /*hsl(359, 85%, 66%),*/
      /*hsl(44, 85%, 66%),*/
      /*hsl(89, 85%, 66%),*/
      /*hsl(134, 85%, 66%),*/
      /*hsl(179, 85%, 66%)*/
      hsl(240, 100%, 50%),
      hsl(0, 100%, 100%),
      hsl(56, 98%, 79%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
#test {
  transition: all 0.5s; /* Set a transition effect for 0.5 seconds */
  border-radius: 5px;
}

#test:focus, #test:hover { /* Apply animation on focus and page load */
  animation: swell-glow 1s;
}

@keyframes swell-glow {
  0% {
    transform: scale(1); /* Normal size */
    box-shadow: none; /* No glow */
  }
  50% {
    transform: scale(5); /* Swell by 20% */
    font-size: large;
  }
  100% {
    transform: scale(1); /* Return to normal size */
    box-shadow: none; /* Remove glow */
  }
}

.divider  .lift:hover {
  animation: lift-shadow 1s;
  background-color: blue;
}

@keyframes lift-shadow {
  0% {
    transform: scale(1); /* Normal size */
    box-shadow: 0 0 0 0; /* No glow */
  }
  50% {
    transform: scale(5); /* Swell by 20% */
    box-shadow: powderblue 15px 15px 15px 15px;
  }
  100% {
    transform: scale(1); /* Return to normal size */
    box-shadow: 0 0 0 0; /* Remove glow */
  }
}

